<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="javascripts/jquery-1.9.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/chirp.js"></script>
</head>
<body>
	<h1>Chat Application With WebSockets</h1>
	<div id="chirp-app">
		<textarea id="chirpTextArea" rows="5" cols="50"></textarea>
		<br>
		<input id="chirp-post-button" type="submit" value="Post">
		<ul id="chirp-list"></div>
</body>
</html>