<% include header %>
<p><% include navbar %></p>
<a href="#">Interactions</a><br>
<a href="#">Mentions</a><br>
<h3>Who to Follow</h3><br>
<h3>Trends</h3><br>
<h3>Interactions</h3>
<% include footer %>