<% include header %>
<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box">
          <a href="#">Interactions</a><br>
          <a href="#">Mentions</a><br>
        </div><br />
        <div class="small-box">
          <h3>Who to Follow</h3><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div>
      </div>
      <div class="span9">
        <h3>Interactions</h3>
      </div>
    </div>
  </div>
<% include footer %>