<% include header %>
<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box">
          <a href="#">Chirps</a><br>
          <a href="#">Activity</a><br>
          <a href="#">Who to Follow</a><br>
          <a href="#">Find friends</a><br>
        </div><br />
        <div class="small-box">
          <h3>Who to Follow</h3><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div>
      </div>
      <div class="span9">
        <h3>Chirps</h3><br>

        <div id="chirp_view">
          <% for(var i = 0; i < discoveryChirps.length; i++) { %>
            <br /><span><span class="identifier"><%= discoveryChirps[i].name %></span> <a href="/<%= discoveryChirps[i].username %>">@<%= discoveryChirps[i].username %></a></span>
            <div class="chirper">
              <p><%= discoveryChirps[i].data %></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
<% include footer %>