<% include header %>
<a href="#">Chirps</a><br>
<a href="#">Activity</a><br>
<a href="#">Who to Follow</a><br>
<a href="#">Find friends</a><br>
<h3>Who to Follow</h3><br>
<h3>Trends</h3><br>
<h3>Chirps</h3><br>

<% for(var i=0;i<discoveryChirps.length;i++){%>
<%= discoveryChirps[i].data%><br>
<%}%><br>

<% include footer %>