<% include header %>
<a href="#">Tweets</a><br>
<a href="#">Activity</a><br>
<a href="#">Who to Follow</a><br>
<a href="#">Find friends</a><br>
<h3>Who to Follow</h3><br>
<h3>Trends</h3><br>
<h3>Tweets</h3>
<% include footer %>