<% include header %>
<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box">
          <h3>About Me</h3>
          <span class="identifier">Name: </span><%= name %><br>
          <span class="identifier">Email: </span><%= email %><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div><br />
        <div class="small-box">
          <h3>People to Follow</h3><br>
        </div><br />
        <div class="small-box">
          <h3>Chirps</h3>
           <% for(var i=0;i<chirps.length;i++){%>
        <%= chirps[i].data%><br>
        <%}%> <br>
        </div>
      </div>
      <div class="span9">
        <form method="post" id="newchirp" action="/new-chirp" class="form-inline">
        
          <div class="control-group">
            <label for="username" class="control-label">Chirp Something:</label>
            <div class="controls">
              <input type="text" name="chirp">
            </div>
          </div>
        
          <div class="control-group">
            <div class="controls">
              <input type="submit" value="Submit" class="btn btn-primary">
            </div>
          </div>
        </form>


       
      </div>
    </div>
  </div>
<% include footer %>