<% include header %>
<p><% include navbar %></p>
<h3>About Me</h3><br>
<%= name %><br>
<%= email %><br>
<h3>Trends</h3><br>
<h3>People to Follow</h3><br>
<h3>Chirps</h3><br>

Chirp something: <form method="post" id="newchirp" action="/new-chirp">
<input type="text" name="chirp"/></form></br></br>


<% for(var i=0;i<chirps.length;i++){%>
<%= chirps[i].data%><br>
<%}%>

<% include footer %>