<% include header %>
<a href="#">Chirps</a><br>
<%= numfollowing %><a href="#"> Following</a><br>
<%= numfollowers %><a href="#"> Followers</a><br>
<h3>Who to Follow</h3><br>
<h3>Trends</h3><br>
<h3>Chirps</h3>
<% include footer %>