<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/home">Chirper</a>
    <ul class="nav">
      <li><a href="/connect">Connect</a></li>
      <li><a href="/discover">Discover</a></li>
      <li><a href="/me">Me</a></li>
    </ul>
    <div style="float: right; margin-top: 10px; margin-right:10px;">
    <% if(user != undefined){ %>
      <span class="identifier">Logged in: </span><%= user %>
    <% } %>
    
    <% if(user == undefined){ %>
      <span class="identifier"><a href='/'>Log In or Sign Up!</a></span>
    <% } %>
    </div>
  </div>
</div>

<form method="post" id="search" action="/search" class="navbar-search">
  <input type="text" name="search" placeholder="Search for User" class=".search-query">
</form>
<div style="clear:both;"></div>