<% include header %>

<h2>Join Chirper.</h2>

<div class="small-box">
  <form method="post" id="signup" action="/new-user" class="form-inline">
    <div class="control-group">
      <label for="fullname" class="control-label">Full Name</label>
      <div class="controls">
        <input type="text" name="name">
      </div>
    </div>
    
    <div class="control-group">
      <label for="username" class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="username">
      </div>
    </div>
    
    <div class="control-group">
      <label for="email" class="control-label">Email</label>
      <div class="controls">
        <input type="email" name="email">
      </div>
    </div>
  
    <div class="control-group">  
      <label for="password" class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password">
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn">
      </div>
    </div>
  </form>
</div>

<% include footer %>